* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 50px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.submit_button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}

.submit_button:hover {
  background-color: #45a049;
}
